/* Main div */
/* Centers everything */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Space between the two boxes 0 */
#laatikot {
    border-spacing: 0;
}

td {
    height: 50px; 
    width: 50px;
}

/* Center table cells */

#laatikot td {
    text-align: center; 
    vertical-align: middle;
}

/* Color buttons */
.nappula {
    padding: 17px;
    border-radius: 7px;
}